<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScholarKids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84004A7E20AF3C3100761FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84004A9820AF3C3100761FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84004AA320AF3C3100761FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
